# Standard environment variables
AWS_ACCESS_KEY_ID={{ AWS_ACCESS_KEY_ID }}
AWS_SECRET_ACCESS_KEY={{ AWS_SECRET_ACCESS_KEY }}
ENVIRONMENT={{ env | default('development') }}
COMPOSE_PROJECT_NAME={{ compose_project.name }}
SERVICE={{ service | default(compose_project.name) }}

# Compose project specific variables
{% for key, value in compose_project.env.items() | list %}
{{ key }}={{ value }}
{% endfor %}
